<div class="sidebar">
    <div class="top-part">
        <a href="/">
            <div class="title">
                <h1>etaCarinae Archive</h1>
            </div>
        </a>
        <div class="navmenu">
            <NavLink class="nav-button" href="/" Match="NavLinkMatch.All">
                <div class="button-title">
                    <div class="active-glow">
                        <div class="main-glow"></div>
                        <div class="second-glow"></div>
                    </div>
                    <div class="sidebar-icon-shape">
                        <svg class="navmenu-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                            <path d="M160-80q-33 0-56.5-23.5T80-160v-400q0-33 23.5-56.5T160-640h640q33 0 56.5 23.5T880-560v400q0 33-23.5 56.5T800-80H160Zm0-80h640v-400H160v400Zm240-40 240-160-240-160v320ZM160-680v-80h640v80H160Zm120-120v-80h400v80H280ZM160-160v-400 400Z"/>
                        </svg>
                    </div>
                    <p>Стримы</p>
                </div>
            </NavLink>
            <NavLink class="nav-button" href="continue" Match="NavLinkMatch.Prefix">
                <div class="button-title">
                    <div class="active-glow">
                        <div class="main-glow"></div>
                        <div class="second-glow"></div>
                    </div>
                    <div class="sidebar-icon-shape">
                        <svg class="navmenu-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                            <path d="M240-240v-480h80v480h-80Zm160 0 400-240-400-240v480Zm80-141v-198l165 99-165 99Zm0-99Z"/>
                        </svg>
                    </div>
                    <p>Продолжить</p>
                </div>
            </NavLink>
            <NavLink class="nav-button" href="not-viewed" Match="NavLinkMatch.Prefix">
                <div class="button-title">
                    <div class="active-glow">
                        <div class="main-glow"></div>
                        <div class="second-glow"></div>
                    </div>
                    <div class="sidebar-icon-shape">
                        <svg class="navmenu-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                            <path d="M880-260 720-420v67l-80-80v-287H353l-80-80h367q33 0 56.5 23.5T720-720v180l160-160v440ZM822-26 26-822l56-56L878-82l-56 56ZM498-575ZM382-464ZM160-800l80 80h-80v480h480v-80l80 80q0 33-23.5 56.5T640-160H160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800Z"/>
                        </svg>
                    </div>
                    <p>Непросмотренные</p>
                </div>
            </NavLink>
            <NavLink class="nav-button" href="completed" Match="NavLinkMatch.Prefix">
                <div class="button-title">
                    <div class="active-glow">
                        <div class="main-glow"></div>
                        <div class="second-glow"></div>
                    </div>
                    <div class="sidebar-icon-shape">
                        <svg class="navmenu-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                            <path d="m160-800 80 160h120l-80-160h80l80 160h120l-80-160h80l80 160h120l-80-160h120q33 0 56.5 23.5T880-720v480q0 33-23.5 56.5T800-160H160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800Zm0 240v320h640v-320H160Zm0 0v320-320Z"/>
                        </svg>
                    </div>
                    <p>Просмотренные</p>
                </div>
            </NavLink>
            <NavLink class="nav-button" href="games" Match="NavLinkMatch.Prefix">
                <div class="button-title">
                    <div class="active-glow">
                        <div class="main-glow"></div>
                        <div class="second-glow"></div>
                    </div>
                    <div class="sidebar-icon-shape">
                        <svg class="navmenu-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                            <path d="M189-160q-60 0-102.5-43T42-307q0-9 1-18t3-18l84-336q14-54 57-87.5t98-33.5h390q55 0 98 33.5t57 87.5l84 336q2 9 3.5 18.5T919-306q0 61-43.5 103.5T771-160q-42 0-78-22t-54-60l-28-58q-5-10-15-15t-21-5H385q-11 0-21 5t-15 15l-28 58q-18 38-54 60t-78 22Zm3-80q19 0 34.5-10t23.5-27l28-57q15-31 44-48.5t63-17.5h190q34 0 63 18t45 48l28 57q8 17 23.5 27t34.5 10q28 0 48-18.5t21-46.5q0 1-2-19l-84-335q-7-27-28-44t-49-17H285q-28 0-49.5 17T208-659l-84 335q-2 6-2 18 0 28 20.5 47t49.5 19Zm348-280q17 0 28.5-11.5T580-560q0-17-11.5-28.5T540-600q-17 0-28.5 11.5T500-560q0 17 11.5 28.5T540-520Zm80-80q17 0 28.5-11.5T660-640q0-17-11.5-28.5T620-680q-17 0-28.5 11.5T580-640q0 17 11.5 28.5T620-600Zm0 160q17 0 28.5-11.5T660-480q0-17-11.5-28.5T620-520q-17 0-28.5 11.5T580-480q0 17 11.5 28.5T620-440Zm80-80q17 0 28.5-11.5T740-560q0-17-11.5-28.5T700-600q-17 0-28.5 11.5T660-560q0 17 11.5 28.5T700-520Zm-360 60q13 0 21.5-8.5T370-490v-40h40q13 0 21.5-8.5T440-560q0-13-8.5-21.5T410-590h-40v-40q0-13-8.5-21.5T340-660q-13 0-21.5 8.5T310-630v40h-40q-13 0-21.5 8.5T240-560q0 13 8.5 21.5T270-530h40v40q0 13 8.5 21.5T340-460Zm140-20Z"/>
                        </svg>
                    </div>
                    <p>Игры</p>
                </div>
            </NavLink>
        </div>
    </div>
    <div class="bottom-part">
        <div class="socials-title">
            <h2>Соц. сети</h2>
        </div>
        <div class="social-links">
            <a href="https://www.twitch.tv/etacarinae_" class="social-link" target="_blank">
                <div class="sidebar-icon-shape">
                    <svg class="social-icon twitch-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2400 2800">
                        <g>
                            <path class="st0" d="M500,0L0,500v1800h600v500l500-500h400l900-900V0H500z M2200,1300l-400,400h-400l-350,350v-350H600V200h1600
                                        			V1300z"/>
                            <rect x="1700" y="550" width="200" height="600"/>
                            <rect x="1150" y="550" width="200" height="600"/>
                        </g>
                    </svg>
                </div>
                <p>Twitch</p>
            </a>
            <a href="https://boosty.to/etacarinae" class="social-link" target="_blank">
                <div class="sidebar-icon-shape">
                    <svg class="boosty-icon social-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 235.6 292.2">
                        <path d="M44.3,164.5L76.9,51.6H127l-10.1,35c-0.1,0.2-0.2,0.4-0.3,0.6L90,179.6h24.8c-10.4,25.9-18.5,46.2-24.3,60.9
                    		c-45.8-0.5-58.6-33.3-47.4-72.1 M90.7,240.6l60.4-86.9h-25.6l22.3-55.7c38.2,4,56.2,34.1,45.6,70.5
                    		c-11.3,39.1-57.1,72.1-101.7,72.1C91.3,240.6,91,240.6,90.7,240.6z"/>
                    </svg>
                </div>
                <p>Boosty</p>
            </a>
            <a href="https://discordapp.com/invite/3PFF8Mk" class="social-link" target="_blank">
                <div class="sidebar-icon-shape">
                    <svg class="social-icon discord-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 127.14 96.36">
                        <path class="cls-1"
                              d="M107.7,8.07A105.15,105.15,0,0,0,81.47,0a72.06,72.06,0,0,0-3.36,6.83A97.68,97.68,0,0,0,49,6.83,72.37,72.37,0,0,0,45.64,0,105.89,105.89,0,0,0,19.39,8.09C2.79,32.65-1.71,56.6.54,80.21h0A105.73,105.73,0,0,0,32.71,96.36,77.7,77.7,0,0,0,39.6,85.25a68.42,68.42,0,0,1-10.85-5.18c.91-.66,1.8-1.34,2.66-2a75.57,75.57,0,0,0,64.32,0c.87.71,1.76,1.39,2.66,2a68.68,68.68,0,0,1-10.87,5.19,77,77,0,0,0,6.89,11.1A105.25,105.25,0,0,0,126.6,80.22h0C129.24,52.84,122.09,29.11,107.7,8.07ZM42.45,65.69C36.18,65.69,31,60,31,53s5-12.74,11.43-12.74S54,46,53.89,53,48.84,65.69,42.45,65.69Zm42.24,0C78.41,65.69,73.25,60,73.25,53s5-12.74,11.44-12.74S96.23,46,96.12,53,91.08,65.69,84.69,65.69Z"/>
                    </svg>
                </div>
                <p>Discord</p>
            </a>
            <a href="https://t.me/carcar_squad" class="social-link" target="_blank">
                <div class="sidebar-icon-shape">
                    <svg class="social-icon telegram-icon" viewBox="0 0 1000 1000" xmlns="http://www.w3.org/2000/svg">
                        <path d="M226.328419,494.722069 C372.088573,431.216685 469.284839,389.350049 517.917216,369.122161 C656.772535,311.36743 685.625481,301.334815 704.431427,301.003532 C708.567621,300.93067 717.815839,301.955743 723.806446,306.816707 C728.864797,310.92121 730.256552,316.46581 730.922551,320.357329 C731.588551,324.248848 732.417879,333.113828 731.758626,340.040666 C724.234007,419.102486 691.675104,610.964674 675.110982,699.515267 C668.10208,736.984342 654.301336,749.547532 640.940618,750.777006 C611.904684,753.448938 589.856115,731.588035 561.733393,713.153237 C517.726886,684.306416 492.866009,666.349181 450.150074,638.200013 C400.78442,605.66878 432.786119,587.789048 460.919462,558.568563 C468.282091,550.921423 596.21508,434.556479 598.691227,424.000355 C599.00091,422.680135 599.288312,417.758981 596.36474,415.160431 C593.441168,412.561881 589.126229,413.450484 586.012448,414.157198 C581.598758,415.158943 511.297793,461.625274 375.109553,553.556189 C355.154858,567.258623 337.080515,573.934908 320.886524,573.585046 C303.033948,573.199351 268.692754,563.490928 243.163606,555.192408 C211.851067,545.013936 186.964484,539.632504 189.131547,522.346309 C190.260287,513.342589 202.659244,504.134509 226.328419,494.722069 Z"/>
                    </svg>
                </div>
                <p>Telegram</p>
            </a>
            <a href="https://vk.com/eta_carinae" class="social-link" target="_blank">
                <div class="sidebar-icon-shape">
                    <svg class="social-icon vk-icon" viewBox="0 0 101 100" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M7.52944 7.02944C0.5 14.0589 0.5 25.3726 0.5 48V52C0.5 74.6274 0.5 85.9411 7.52944 92.9706C14.5589 100 25.8726 100 48.5 100H52.5C75.1274 100 86.4411 100 93.4706 92.9706C100.5 85.9411 100.5 74.6274 100.5 52V48C100.5 25.3726 100.5 14.0589 93.4706 7.02944C86.4411 0 75.1274 0 52.5 0H48.5C25.8726 0 14.5589 0 7.52944 7.02944ZM17.3752 30.4169C17.9168 56.4169 30.9167 72.0418 53.7084 72.0418H55.0003V57.1668C63.3753 58.0001 69.7082 64.1252 72.2498 72.0418H84.0835C80.8335 60.2085 72.2914 53.6668 66.9581 51.1668C72.2914 48.0835 79.7915 40.5835 81.5831 30.4169H70.8328C68.4995 38.6669 61.5836 46.1668 55.0003 46.8751V30.4169H44.2499V59.2501C37.5833 57.5835 29.1668 49.5002 28.7918 30.4169H17.3752Z"/>
                    </svg>
                </div>
                <p>ВКонтакте</p>
            </a>
        </div>
    </div>
</div>