@inherits LayoutComponentBase

<div class="towacinema">
    <div class="main-background"></div>
    <div class="cinema">
        <div class="left-side">
            <Sidebar/>
        </div>
        <div class="right-side">
            @Body
        </div>
    </div>
    <div class="version">
        <span>v.1.4</span>
    </div>
</div>